
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kayıt Ol</title>

    <link rel="stylesheet" href="~/Content/Login/assets/demo.css">
    <link rel="stylesheet" href="~/Content/Login/assets/form-login.css">

</head>

<div class="main-content">
    @RenderBody()

    <!-- You only need this form and the form-login.css -->



</div>

</body>

</html>